body {
  background-color: #733ca5;
  padding: 5rem;
  background-image: url('./assets/bg2.png');
  background-size: contain;
  color: white;
}

#root {
  height: 100%;
  width: 100%;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 3rem;
}

.app {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

.logo {
  height: 150px;
  margin-left: 3rem;
}

.learnMoreContainer {
  margin-left: auto;
  margin-right: 3rem;
  align-items: center;
  height: 150px;
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.3rem;
  font-weight: 300;
}

.title {
  align-self: center;
  margin-left: 3rem;
}

.arrowAndText {
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
}

.arrowAndText img {
  transform: rotate(90deg) scaleX(-1) translateY(-35px) translateX(15px);
}

.learnMoreContainer img {
  height: 100px;
  width: 100px;
}

.wixEng {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80px;
  padding: 1rem;
}

html,
body {
  height: 100%;
  width: 100%;
}

.animatedText {
  color: #fff;
}
.textContainer {
  width: 100%;
  font-size: 3rem;
}

.fade-up {
  opacity: 0;
  transform: translateY(40px);
}
.fade-up-entered {
  display: inline-block;
  opacity: 1;
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}
