#root {
  width: 100%;
  margin: 0 auto;
  padding-left: 5rem;
}

body {
  background-color: #1f303c;
}
.animatedText {
  color: #fff;
}
.textContainer {
  align-items: start;
  align-self: flex-start;
  width: 100%;
  font-size: 3rem;
  flex-direction: row;
}
